body {
    background-color: aqua;
}

.take {
    background-color: red;
    color: white;
    border-color: red;
}

.give {
    background-color: red;
    color: white;
    border-color: red;
}